<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://mobile.yahoo.com/widgets/schema/1.0/config/ http://mobile.yahoo.com/widgets/schema/1.0/config/"
	xmlns="http://mobile.yahoo.com/widgets/schema/1.0/config/">
	<title>My Mobile Blog</title>
	<version>1.0</version>
	<identifier>wordpress-blog</identifier>
	<description>A Blueprint theme for Wordpress.</description>
	<icon>icon</icon>
	<author organization="Yahoo! Mobile" href="http://m.yahoo.com"
		email="davidcalhoun2@yahoo.com">
		David Calhoun
	</author>
	
	<!-- change this widget base to your server url -->
	<widget base="http://themaingate.net/work/blog/wp-content/themes/blueprint">
		<preview>
			<icon>yahoo_logo</icon>
			<label>Blog</label>
		</preview>

		<shortcuts>
			<item default="true">
				<label>Open</label>
				<href>index.php</href>
			</item>
		</shortcuts>
	</widget>

</config>
